.user-item{
   display: flex;
   align-items: center;
   padding: 8px;
   border-radius: 4px;
   transition: background 200ms ease-in-out;

   &:hover{
    background-color: var(--tiktok-neutral-color);
   }
}
.user-avatar{
    display: flex;
    height: 32px;
    width: 32px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}
.user-info{
    flex-grow: 1;
    height: 32px;
}
.user-name-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-name{
    margin-top: -2px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.1rem;
    max-width: 145px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text-color);
}
.verify-badge{
    margin-left: 4px;
}
.user-full-name{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 145px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text-color)
}