.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background-color: var(--white);
    color: inherit;
    border: 1px solid transparent; 
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;

    + .wrapper{
        margin-left: 8px;
    }

    &.disabled{
        cursor: not-allowed;
        opacity: 0.4;
    }

}
.button-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.button-content > * + * {
    margin-left: 5.5px;
}
.controlItem{
    flex: unset;
    min-width: 48px;
    height: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.iconOnly{
    min-width: 0px !important;
    width: 40px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.rounded{
    border: 1px solid rgba(22, 24, 35, 0.12);
    height: 32px;
    padding: 0px 8px;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--text-color-1);
    background-color: var(--rounded-bg);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-radius: 52px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
}

.primary{
    min-height: 36px;
    min-width: 100px;
    color: var(--white);
    background-color: var(--primary);

    &:hover{
        background-color: rgba(234, 40, 78, 1) !important;
    }
}
.secondary{
    background-color: var(--tiktok-neutral-color);
    color: var(--text-color-4);
}
.mini{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.95rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.medium{
    height: 40px;
    padding: 1px 16px;
    border-radius: 6px;
    line-height: 2.1rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.15px;
    border: none;

    +.wrapper{
        margin-left: 0;
    }

    &:hover{
        background-color: var(--tiktok-hover-neutral-color);
    }
}

.outline{
    color: var(--primary);
    border-color: var(--primary);

    &:hover{
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.large{
    min-width: 168px;
    min-height: 48px;
    color: var(--primary);
    border-color: var(--primary);
    
    &:hover{
        background-color: rgba(254, 44, 85, 0.06);
    }
}