
.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
    transition: flex 300ms linear;
}
.wrapper::-webkit-scrollbar {
    visibility:hidden; /* Chrome, Safari và Edge */
  }

.slide-container{
    width: 100%;
    background-color: var(--tiktok-background-color);
    
    position: relative;
    max-height: calc(-60px + 100vh);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;

    //article
    .slide-item-container{
        height: calc(-60px + 100vh);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1.6rem;
        margin: 0px auto;
        transition-property: margin, width, padding;
        transition-duration: 300ms;
        transition-timing-function: linear;
        overflow: hidden clip;
        scroll-snap-stop: always;
        scroll-snap-align: start center;
        padding-inline: 6.4rem 240px;
        align-items: center;
        gap: 1.6rem;
    }

    .slide-item{
        height: max-content;
        display: flex;
        flex-direction: row;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -webkit-box-align: end;
        align-items: end;
        -webkit-box-pack: center;
        justify-content: center;
        gap: 1.6rem;
    }
}

.feed-navigation-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
    transform: unset;
    width: max-content;
    inset: 0px;
    padding-inline-end: 1.6rem;
    background-color: var(--tiktok-background-color);

    .action-item-button{
        width: 48px;
        height: 48px;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--tiktok-neutral-color);
        color: var(--text-color);
        border-radius: 50%;
    
        &:hover{
            background-color: var(--tiktok-hover-neutral-color)
        }
    }
}

