.wrapper{
    display: flex;
    background-color: var(--tiktok-background-color);
    color: var(--text-color);
}
.container{
    display: flex;
    width: 100%;
    margin-top: 60px;
}
.content{
    width: calc(100% - 240px);
}