.wrapper{
    background-color: var(--tiktok-background-color);
    color: var(--text-color);
}
.container{
    display: flex;
    margin-top: 60px;
}
.content{
    flex: 1;
    min-height: calc(1px + 100vh);
}