.wrapper{
    width: 100%;
    // max-height: min(-156px + 100vh, 760px);
    border-radius: 8px;
    padding-inline-start: 0px;
    overflow: hidden auto;
    list-style-type: none;
    background-color: var(--popup-bg-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
}